@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Medium.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-family: "Roboto", sans-serif;
}
body {
  box-sizing: border-box;
  font-family: var(--font-family);
  color: #121417;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}
select option {
  background-color: #ffffff;
  color: rgba(18, 20, 23, 0.2);
  font-size: 16px;
  border-radius: 12px;
  padding: 14px 18px;
  cursor: pointer;
}
select option:hover,
select option:active {
  color: #121417;
  background-color: #ffffff;
}
